<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Service</title>
</head>
<body>
<div style="text-align: center;">
  <div>
    <h1>Mireseardhet ne Smart Service</h1>
  </div>
  <div>
    <a th:href="@{/categories}"><h2>Lista e Kategorive te Produktit</h2></a>
    <a th:href="@{/categories/new}"><h2>Krijo Kategori</h2></a>
    <a th:href="@{/products}"><h2>Lista e Produkteve</h2></a>
    <a th:href="@{/products/new}"><h2>Krijo Produkt</h2></a>
  </div>
</div>

</body>
</html>